Source: ros-r2b3-lifecycle-msgs
Section: misc
Priority: extra
Maintainer: Karsten Knese <karsten@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-r2b3-ament-cmake, ros-r2b3-ament-lint-auto, ros-r2b3-ament-lint-common, ros-r2b3-rosidl-default-generators, ros-r2b3-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-r2b3-lifecycle-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-r2b3-rosidl-default-runtime, ros-r2b3-ros-workspace
Description: A package containing some lifecycle related message and service definitions.
